<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">
  <title>URL Shortener</title>
</head>

<body>
  <div class="app">
    <h1>URL Shortener</h1>
    <img class="my-5" src="/img/ExportedContentImage_00.png" width="10%" />
    {{{ body }}}
  </div>
  
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>