<form class="my-3 inputArea" id="urlForm" method="post" action="/url">
  <input class="form-control" type="text" name="url" id="url" placeholder="Input URL here" aria-label="URL input field">
  <button type="button" class="btn btn-outline-primary" onclick="submitReq()">Shorten</button>
</form>

<script>
  const errMsg = {{{ errMsg }}};
  if (errMsg) alert(errMsg);

  function submitReq() {
    const inputUrl = document.getElementById('url').value;
    if (inputUrl === '') {
      alert('請輸入網址');
    } else {
      document.getElementById('urlForm').submit();
    }
  }
</script>