<div class="resultField">
  <div class="fs-1">Success! Please use this link:</div>
  <a class="my-2" href="{{shortenUrl}}" target="_blank">{{shortenUrl}}</a>
  <div>
    <button type="button" class="btn btn-primary" onclick="copyUrl('{{shortenUrl}}')">Copy</button>
    <button type="button" class="btn btn-info" onclick="backToFrontPage()" title="frontpage"><i class="fas fa-home"></i></button>
  </div>
</div>

<script>
  function copyUrl(url) {
    navigator.clipboard.writeText(url)
      .then(() => {
        alert('This url is copied to the clipboard');
      })
      .catch((e) => {
        alert('Fail to copy the url to the clipboard');
        console.error(e);
      });
    
  }
  function backToFrontPage() {
    window.location.href = '/';
  }
</script>